@font-face {
    font-family: HKGrotesk;
    src: url("font/hk-grotesk.regular-legacy.otf") format("opentype");
}

@font-face {
    font-family: HKGroteskPro;
    src: url("font/hk-grotesk.regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: HKGroteskPro, serif;
}

a {
    text-decoration: none;
}