.about {
    /* padding-bottom: 3em; */
}


/* aboutHead */

.aboutFormWrapper {
    padding-right: 6em;
}

.aboutForm {
    width: 100%;
    /* padding-right: 4em; */
    overflow: hidden;
    transition: 0.5s;
}

.aboutForm:hover {
    transform: translateY(-8px);
}

.aboutForm_img {
    background: url(https://landkit.goodthemes.co/assets/img/photos/photo-2.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    min-height: 240px;
}

.aboutForm_types {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.aboutForm_types_btn {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.aboutForm_types_btn button {
    width: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #42ba96;
    border-color: #42ba96;
    box-shadow: none;
    transition: 0.5s;
}

.aboutForm_types_btn button:hover {
    transform: translateY(-8px);
    background-color: #389e7f;
}

.aboutForm_types p {
    color: red !important;
    font-size: 0.9em;
}

.aboutInfo {
    padding-top: 20%;
}

.aboutInfo h2 {
    font-size: 1.9375rem;
    font-weight: 400;
    color: #161c2d;
    letter-spacing: -0.31px;
    line-height: 37.85px;
    margin-bottom: 0.9em;
    text-align: left;
}

.aboutInfo h2 span {
    color: #42ba96;
}

.aboutInfo p {
    font-size: 1.15rem;
    color: #869ab8;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}

.aboutItem {
    display: flex;
}

.aboutItem {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 1em;
}

.aboutItem_icon {
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    background-color: rgba(66, 186, 150, 0.1);
    color: #42ba96;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-right: 1em;
    padding-left: 0.24em;
}

.aboutItem_icon svg {
    width: 0.6em;
    height: 0.6em;
}

.aboutInfo .aboutItem p {
    margin-bottom: 0;
    color: #42ba96;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}


/* End aboutHead */


/* aboutBelow */


/* aboutBelowInfo */

.aboutBelow {
    padding-top: 3em;
}

.aboutBelow_info {
    padding-top: 4.5em;
}

.aboutBelow_info h2 {
    font-size: 1.9375rem;
    font-weight: 400;
    color: rgb(22, 28, 45) #161c2d;
    letter-spacing: -0.31px;
    line-height: 37.85px;
    margin-bottom: 0.6em;
    text-align: left;
    margin-right: 2em;
}

.aboutBelow_info h2 span {
    color: #335eea;
}

.aboutBelow_info p {
    font-size: 1.3rem;
    color: #869ab8;
    margin-bottom: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}

.aboutBelowItem {
    display: flex;
}

.aboutBelowItem_icon {
    margin-right: 1.5em;
}

.aboutBelowItem_icon svg {
    width: 3em;
    height: 3em;
}

.aboutBelowItem_text h2 {
    font-size: 1.3rem;
    color: rgb(22, 28, 45);
    margin-bottom: 0em;
}

.aboutBelowItem_text p {
    font-size: 1.0625rem;
}


/* End aboutBelowInfo */


/* aboutBelowImg */

.aboutBelow_img {
    position: relative;
    z-index: 1000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutBelow_img img {
    display: block;
    width: 80%;
    border-radius: 0.625rem;
    box-shadow: 25px 60px 125px -25px rgb(80 102 144 / 10%), 16px 40px 75px -40px rgb(0 0 0 / 20%);
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(333deg) rotateX(22deg);
    backface-visibility: hidden;
}

.aboutBelow_img_bg {
    position: absolute;
    top: 300px;
    left: -52px;
    /* background: #000; */
    z-index: -1;
    height: 100%;
    width: 33%;
    color: #f0f3f7;
}


/* End aboutBelowImg */


/* End aboutBelow */


/* custom and fix */

.aboutBelow_info {
    position: relative;
    z-index: 100;
}

.aboutBelow-img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.aboutBelow-img-col {
    min-height: 460px;
}

@media only screen and (max-width: 1320px) {
    .aboutBelow_img {
        padding-top: 3em;
    }
}


/* end custom and fix */

@media only screen and (max-width: 768px) {
    .aboutFormWrapper {
        padding-right: 0em;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {
    .aboutBelow_img_bg {
        left: -21px;
    }
}