.banner {
    /* min-height: calc(100vh - 200px); */
    padding-bottom: 3em;
}

.bannerView h1 {
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: left;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.bannerView h1 span {
    color: #335eea;
}

.bannerView p {
    color: #869ab8;
    text-align: left;
    font-size: 1.3125rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.bannerView_wrapperBtn {
    display: flex;
}

.btnView {
    display: flex;
    margin-right: 0.3rem;
    color: #fff;
    background-color: #335eea;
    transition: 0.5s;
}

.btnView:hover {
    background-color: #1746e0;
    transform: translate3d(0, -3px, 0);
}

.btnView span {
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnView span svg {
    width: 1em;
    height: 1em;
    filter: invert(1);
}

.btnDoc {
    background-color: rgba(47, 87, 218, 0.1);
    color: #335eea;
    transition: 0.5s;
}

.btnDoc:hover {
    transform: translate3d(0, -5px, 0);
}

.bannerImage img {
    width: 100%;
}

@media only screen and (max-width: 320px) {
    .bannerView_wrapperBtn {
        flex-direction: column;
    }
    .bannerView_wrapperBtn .btn {
        text-align: center;
    }
    .bannerView_wrapperBtn .btnView {
        padding-left: 4.2em;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .banner .row {
        flex-direction: column-reverse;
    }
    .bannerView h1 {
        text-align: center;
    }
    .bannerView p {
        text-align: center;
    }
    .bannerView_wrapperBtn {
        justify-content: center;
    }
    .bannerImage {
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 992px) {
    .bannerView h1 {
        font-size: 2.25rem;
    }
    .bannerView p {
        font-size: 1.1875rem;
    }
}