.wrappterPricing {
    background: #eff2f6;
}

.pricing {
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing_title h1 {
    font-size: 2.45rem;
    font-weight: 400;
    color: #161c2d;
    letter-spacing: -0.31px;
    line-height: 37.85px;
    margin-bottom: 0.9em;
    text-align: center;
}

.pricing_text p {
    font-size: 1.3rem;
    color: #869ab8;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
}

.pricing_select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing_select_text p {
    font-size: 17px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: center;
    color: #869ab8;
}

.pricing_select form {
    margin: 0 1em;
}


/* checkout custom */

input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}

input[type="checkbox"].ios8-switch+label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2em;
}

input[type="checkbox"].ios8-switch+label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px;
    /* x*5 */
    height: 24px;
    /* x*3 */
    border-radius: 16px;
    /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 3px;
    width: 18px;
    /* x*3 */
    height: 18px;
    /* x*3 */
    border-radius: 16px;
    /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:hover:after {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios8-switch:checked+label:after {
    margin-left: 18px;
}

input[type="checkbox"].ios8-switch:checked+label:before {
    background: #335eea;
}


/* SMALL */

input[type="checkbox"].ios8-switch-sm {
    margin: 5px 0 0 10px;
}

input[type="checkbox"].ios8-switch-sm+label {
    position: relative;
    padding: 0 0 0 32px;
    line-height: 1.3em;
}

input[type="checkbox"].ios8-switch-sm+label:before {
    width: 25px;
    /* x*5 */
    height: 15px;
    /* x*3 */
    border-radius: 10px;
    /* x*2 */
}

input[type="checkbox"].ios8-switch-sm+label:after {
    width: 15px;
    /* x*3 */
    height: 15px;
    /* x*3 */
    border-radius: 10px;
    /* x*2 */
}

input[type="checkbox"].ios8-switch-sm+label:hover:after {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios8-switch-sm:checked+label:after {
    margin-left: 10px;
    /* x*2 */
}


/* End checkout custom */