.wrappterStats {
    width: 100%;
    position: relative;
    background: #eff2f6;
    z-index: 10;
}


/* .wrappterStats::before {
    content: "";
    position: absolute;
    top: 270px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #eff2f6;
    z-index: -10;
} */

.stats {
    padding-top: 10em;
    padding-bottom: 1em;
    background: #eff2f6;
}

.statText {
    padding-top: 2em;
}

.statText h2 {
    font-size: 1.9rem;
    font-weight: 400;
    color: #161c2d;
    letter-spacing: -0.31px;
    line-height: 37.85px;
    margin-bottom: 0.9em;
}

.statText h2 span {
    color: #335eea;
}

.statText p {
    font-size: 1.2rem;
    color: #869ab8;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}

.statText_items {
    display: flex;
}

.statText_item {
    width: 33%;
}

.statText_item-brick {
    position: relative;
}

.statText_item-brick::before {
    content: "";
    width: 1px;
    height: 100%;
    background: #d9e2ef;
    position: absolute;
    top: 0;
    right: 28%;
}

.statText_item h2 {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -0.21px;
    line-height: 29.4px;
    text-align: left;
    text-size-adjust: 100%;
    color: #161c2d;
}

.statText_item p {
    font-size: 17px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;
    text-size-adjust: 100%;
    color: #161c2d;
}

.statImg img {
    width: 100%;
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .stats .row {
        flex-direction: column-reverse;
    }
}