.testimonials {
    padding-top: 4em;
}

.testimonials_bg {
    width: 100%;
    height: 0;
    color: red;
    color: #eff2f6;
    position: relative;
    top: -204px;
}

.testimonials_bg_svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.testimonials_bg svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.9) translateX(317px);
}


/* head */

.testimonialHead {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonialHead h2 {
    font-size: 1.875rem;
    font-weight: 400;
    color: #161c2d;
    letter-spacing: -0.31px;
    line-height: 37.85px;
    margin-bottom: 0.9em;
}

.testimonialHead p {
    font-size: 1.2rem;
    color: #869ab8;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.6;
}


/* end head */


/* below */

.testimonialBelow {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 100;
    background: #fff;
    border-radius: 10px;
    /* relate to stats bg */
}

.testimonialBelow_img {
    width: 50%;
}

.testimonialBelow_img a {
    display: block;
    width: 100%;
    min-height: 300px;
    background: #888;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 10px;
    border-bottom-right-radius: 110px 250px;
    border-top-right-radius: 27px 130px;
}

.testimonialBelow_content {
    width: 50%;
}

.cardTestimonial_prevNext {
    position: absolute;
    border-radius: 50%;
    width: 3.2em;
    height: 3.2em;
    display: flex;
    background: #335eea;
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s;
}

.cardTestimonial_prevNext:hover {
    background: #1b42c2;
}

.cardTestimonial_prevNext-left {
    top: calc(300px / 2);
    left: -26px;
    transform: translateY(-50%);
}

.cardTestimonial_prevNext-right {
    top: calc(300px / 2);
    right: -26px;
    transform: translateY(-50%);
}


/* cardTestimonial_prevNext */

.cardTestimonial_prevNext svg {
    width: 1em;
    height: 1em;
    margin: auto;
    filter: invert(1);
}

.cardTestimonial_prevNext svg::before {
    content: "\e912";
}


/* card */

.cardTestimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: grab;
}

.cardTestimonial_icon svg {
    width: 10em;
}

.cardTestimonial p {
    margin-bottom: 2.5rem;
    color: rgb(22, 28, 45);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    text-size-adjust: 100%;
}

.cardTestimonial span {
    color: #869ab8;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.96px;
    line-height: 18.6px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
}


/* end card */


/* end below */


/* custom and fix */


/* End custom and fix */

@media only screen and (min-width: 769px) and (max-width: 1080px) {
    .testimonialBelow {
        padding-left: 1em;
        padding-right: 1em;
    }
    /* .cardTestimonial_prevNext {
        width: 1.8em;
        height: 1.8em;
    } */
    .cardTestimonial_prevNext-right,
    .cardTestimonial_prevNext-left {
        right: -9px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .testimonialBelow {
        display: flex;
        flex-direction: column;
    }
    .testimonialBelow_img {
        width: 100%;
    }
    .testimonialBelow_content {
        width: 100%;
    }
    .cardTestimonial_prevNext-left {
        top: calc(600px * 3 / 4);
        left: -33px;
        transform: translateY(-50%);
    }
    .cardTestimonial_prevNext-right {
        top: calc(600px * 3 / 4);
        right: -33px;
        transform: translateY(-50%);
    }
    .testimonialBelow_img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: thin solid rgb(240, 233, 233);
        overflow: hidden;
    }
    .testimonialBelow_img a {
        border-radius: 0px;
    }
    .testimonialBelow_content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: thin solid rgb(240, 233, 233);
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {}